.pageTitle {
    position: relative;
    width: 100%;
    height: 300px;
    padding-top: 40px;
    top: -40px;
    background-color: rgb(172, 202, 38);
}
.pageTitle * {
    margin: 0;
}
div .pageTitleSpace {
    height: 50px;
    background-color: rgb(145, 170, 31);
    width: calc(100% - 1.5rem);
    margin-top: -50px;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
@media screen and (max-width: 1023px) {
    div .pageTitleSpace {
        width: 100%;
        border-radius: 0;
    }
}

div .pageTitleContent {
    height: 300px;
    background-color: rgb(172, 202, 38);
}
div .pageTitle .pageTitleText {
    height: 150px;
    font-size: clamp(10px, 10vw, 50px);
    white-space: nowrap;
    font-family: 'DotGothic16', sans-serif;
    text-align: center;
    color: white;
    position: relative;
    top: 5rem;
}
.pageTitle .pageTitleText span {
    position: relative;
}