@import url('https://fonts.googleapis.com/css2?family=M+PLUS+2:wght@100..900&display=swap'); /* M PLUS 2 */

.content {
    font-family: "M PLUS 2";
}

.content h1 {
    font-size: 30px;
    padding: 0.5em;/*文字周りの余白*/
    color: #494949;/*文字色*/
    background: #fffaf4;/*背景色*/
    border-left: solid 5px #ffaf58;/*左線（実線 太さ 色）*/
}
.content h2 {
    font-size: 25px;
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #7db4e6;/*左線*/
}


